* {
    box-sizing: border-box;
}

body{
    font-family: cursive;
    font-weight: 800;
}

.card-container{
    display: grid;
    grid-template-columns:  repeat(2, 500px);
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
}

.card{
    display: block;
    width: 100%;
    height: fit-content;
    background-color: #b7bbf9;
    padding: 30px;
    padding-top: 45px;
    position: relative;
}

.card button{
    width: fit-content;
    height: 20px;
    display: block;
    margin-top: 20px;
}

.name{
    font-size: 15px;
    margin-right: 50px;
    color: #000;
}

.email{
    font-size: 14px;
    color: #1d0798;
}

.title{
    font-size: 20px;
    color: #009cff;
}

.text{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #000;
}